################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Project-JohnsonPraska/bin/Debug/net8.0-windows
/Project-JohnsonPraska/obj
