################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Project-JohnsonPraska
/EMRProject455-JohnsonPraskaHoornaertVinchattle.sln
