################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Project-JohnsonPraska/bin/Debug/net8.0-windows
/Project-JohnsonPraska/obj
*.user
/Project-JohnsonPraska/bin/Debug/net8.0-windows/EMRProject455-JohnsonPraskaHoornaertVinchattle.dll
/Project-JohnsonPraska/bin/Debug/net8.0-windows/EMRProject455-JohnsonPraskaHoornaertVinchattle.exe
/Project-JohnsonPraska/bin/Debug/net8.0-windows/EMRProject455-JohnsonPraskaHoornaertVinchattle.pdb
